/* styles for HomePage layout */


/* Убираем глобальные отступы и поля */
html, body {
  margin: 0;
  padding: 0;
  width: 100%;
  height: 100%;
  box-sizing: border-box; /* Для правильного расчета размеров */
}

.decorative-banner {
  width: 100%; /* Прямоугольник на всю ширину */
  height: 90px; /* Высота 100px */
  background-color: #D5D4EA; 
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.2); 
  margin-bottom: 20px; 
}

.app {
  display: flex;  /* Это устанавливает flex-контейнер, который будет располагать дочерние элементы (шторку и основной контент) в горизонтальном ряду */
  min-height: 100vh;  /* Минимальная высота контейнера должна быть 100% от высоты экрана */
}

.main-content {
  flex: 1;  
  flex-direction: column;
  flex-grow: 1;
  padding: 0; 
  margin: 0;  
}

